{% extends "base.html" %}

{% block title %}
<title>CRMify: Cases</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Cases</h1>

    <!-- Create Account Button at the Top -->
    <a class="btn btn-primary float-right mb-3" href="{{ url_for('create_case_page') }}">Create Case</a>

    <!-- Table to Display Accounts Data -->
    <table class="table table-striped table-hover table-light">
        <thead>
            <tr>
                <th>Case Number</th>
                <th>Account Number</th>
                <th>Category</th>
                <th>Subject</th>
                <th>status</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for case in cases %}
            <tr>
                <td><a href="/cases/{{ case.id }}">{{ case.id }}</a></td>
                <td><a href="/accounts/{{ case.account.id }}/cases">{{ case.account.id }}</a></td>
                <td>{{ case.category }}</td>
                <td>{{ case.subject }}</td>
                <td>{{ case.status }}</td>
                <td>{{ case.user.username }}</td>
                <td>{{ case.created_at }}</td>
                <td class="text-nowrap"><a href="/cases/{{ case.id }}" class="btn btn-outline-secondary">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Create Account Button at the Bottom -->
    <a class="btn btn-primary float-right mt-3" href="{{ url_for('create_case_page') }}">Create Case</a>
</div>
{% endblock %}
