{% extends "base.html" %}

{% block title %}
<title>Case Details :: CRMify</title>
{% endblock %}

{% block content %}
<div class="container mt-5">

    <h1>Case Details</h1>
    <div>
        <p><strong>Case ID:</strong> {{ case.id }}</p>
        <p><strong>Category:</strong> {{ case.category }}</p>
        <p><strong>Account ID:</strong> {{ case.account.id }}</p>
        <p><strong>Account Name:</strong> {{ case.account.first_name }} {{case.account.last_name }}</p>
        <p><strong>Status:</strong> {{ case.status }}</p>
        <p><strong>Created At:</strong> {{ case.created_at }}</p>
        <p><strong>Created By:</strong> {{ case.user.username }} {{case.user.email }}</p>
    </div>

    <hr>
    <h1>Case Updates</h1>
    <hr>
    <!-- Add Case Button at the Top -->
    <br>
    <a class="btn btn-primary float-right mb-3" href="#" data-toggle="collapse" data-target="#createUpdateForm">Add Update</a>
    <!-- Add Case Form (Initially Hidden) -->
    <div class="collapse" id="createUpdateForm">
        <form id="updateForm" method="POST">
          <div class="form-group">
            <label for="update_text">Update</label>
            <input type="text" class="form-control" id="updatetxt" name="update_text" required>
          </div>
          <button type="submit" class="btn btn-outline-secondary">Create Update</button>
        </form>
    </div>
    <!-- Show updates for cases  -->

    {% for update in updates %}
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Update Created By {{ update.update_created_by.username }} on {{update.created_at}}
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{update.update_text}}
            </div>
          </div>
        </div>
    </div>
    <hr>
    {% endfor %}

    <!-- Create Update Button at the Bottom -->
    <a class="btn btn-primary float-right mb-3" href="#" data-toggle="collapse" data-target="#createUpdateForm">Add Update</a>
</div>

<script>
  // JavaScript to submit the case creation form via AJAX
  const caseForm = document.getElementById('updateForm');
  caseForm.addEventListener('submit', function (e) {
      e.preventDefault();
      const formData = new FormData(updateForm);
      const baseUrl = 'http://35.153.194.146:8001/'
      const caseId = {{ case.id }}; // Get the current account ID
      const headers = {{ headers | tojson | safe }}; // Get the authorization headers from Flask

      fetch(${baseUrl} + `api/cases/${caseId}/updates`, {
          method: 'POST',
          body: JSON.stringify(Object.fromEntries(formData)),
          headers: {
              'Content-Type': 'application/json',
              ...headers, // Include the authorization header
          },
      })
      .then(response => {
          if (response.status >= 200 && response.status < 300) { // Check if the response status code indicates success (201 or 2xx)
              return response.json();
          } else if (response.status === 401) { // Check if the response status is 401 Unauthorized
              alert('Login Required for operation! Please Login');
              window.location.href = 'http://localhost:5000/login'; // Redirect to the login page
              return; // Exit the script to prevent further execution
          } else {
              throw new Error('Failed to create the update. Please check the input data.');
              return;
          }
      })
      .then(data => {
          alert('Update created successfully!');
          location.reload();
      })
      .catch(error => {
          console.error('Error:', error.message);
      });
  });
</script>
{% endblock %}