{% extends "base.html" %}

{% block title %}
<title>Create Account :: CRMify</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <section class="text-center">
        <img src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/81a3268bf3f52758b30ecf4fd4246e3e7d2a7938/app/web_flask/templates/images/crmify-without_text.png" id="logo" alt="logo">
        <br>
        <br>
        <h1 id="pageSubject">Create Account</h1>
        <br>
        <hr>
    </section>
    <!-- Account Creation Form -->
    <form method="POST" action="{{ url_for('create_account_page') }}" class="createaccount-form">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="form-group" style="text-align: center; color: crimson;">
            <label for="createmore">Create More Accounts?</label>
            <input type="checkbox" class="form-control" id="createmorecheck" name="createmorecheck">
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>

    <!-- Display Account Details upon Successful Creation -->
    {% if account_created %}
    <div class="mt-3">
        <h3>Account Created Successfully with the following details:</h3>
        <p><strong>ID:</strong> {{ account_created.id }}</p>
        <p><strong>First Name:</strong> {{ account_created.first_name }}</p>
        <p><strong>Last Name:</strong> {{ account_created.last_name }}</p>
        <p><strong>Email:</strong> {{ account_created.email }}</p>
        <p><strong>Address:</strong> {{ account_created.address or 'N/A' }}</p>
        <p><strong>Created At:</strong> {{ account_created.created_at }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
