<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRMify{% endblock %}</title>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1dkGKY68k0OQvPdVdw_2iEVUaK8K0QJhd">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/otaorojuolalekan/crmify/main/app/web_flask/templates/images/favicon.ico" type="image/x-icon">
      <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Ubuntu:wght@50;400;700&display=swap"
    rel="stylesheet">
    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/180df0d2e7.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navigation-background">
        <a class="navbar-brand" href="#"><img src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/main/app/web_flask/templates/images/crmify-medium-nobg.png" alt="CRMify Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#cta">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#footer">Contact Us <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <!-- ... (other HTML) ... -->
            <ul class="navbar-nav">
                {% if 'username' in session %}
                    <!-- User is logged in, display username and logout button -->
                    <li class="nav-item">
                        <span class="navbar-text">Logged in as: {{ session['username'] }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket fa-beat"></i>  Logout</a>
                    </li>
                {% else %}
                    <!-- User is not logged in, display login and register buttons -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}"><i class="fa-solid fa-right-to-bracket fa-beat"></i>  Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signup') }}"><i class="fa-solid fa-user-plus"></i>  Register</a>
                    </li>
                {% endif %}
            </ul>
            <!-- ... (other HTML) ... -->
        </div>
    </nav>


<div class="mt-5 text-center">
    <!-- Hero Section -->
    <section class="hero text-center mb-5">
        <h1 class="mt5">Welcome to CRMify</h1>
        <p>Your Complete CRM Solution</p>
        <a class="btn btn-primary btn-lg signup-btn mt-5 mb-5" href="/signup">Get Started</a>
    </section>

    <!-- Features Section -->
    <section class="features mt-5">
        <div class="row text-center feature-row-css">
            <!-- Feature 1 -->
            <div class="col-lg-4">
                <div class="feature">
                    <i class="fa-solid fa-handshake fa-shake fa-6x feature-icon"></i>
                    <h2>Manage Accounts</h2>
                    <p class="feature-text">Effortlessly organize and track your customer accounts.</p>
                </div>
            </div>

            <!-- Feature 2 -->
            <div class="col-lg-4">
                <div class="feature">
                    <i class="fa-solid fa-truck-fast fa-bounce fa-6x feature-icon"></i>
                    <h2>Track Cases</h2>
                    <p class="feature-text">Keep tabs on customer cases and support requests.</p>
                </div>
            </div>

            <!-- Feature 3 -->
            <div class="col-lg-4">
                <div class="feature">
                    <!-- <img src="https://via.placeholder.com/150" alt="Feature 3"> -->
                    <i class="fa-solid fa-heart-pulse fa-beat feature-icon fa-6x"></i>
                    <h2>Stay Connected</h2>
                    <p>Seamlessly communicate with your team and customers.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section id="testimonials" class="container-fluid mt-5">
        <div id="testimonial-carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2 class="testimonial-text">CRMify has transformed the way we manage our clients. It's a game-changer!</h2>
              <img class="testimonial-image" src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/main/app/web_flask/templates/images/dog-img.jpg" alt="john-doe">
              <em>John Doe, New York</em>
            </div>
            <div class="carousel-item">
              <h2 class="testimonial-text">We couldn't be happier with CRMify. It has simplified our workflow and increased efficiency.</h2>
              <img class="testimonial-image" src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/main/app/web_flask/templates/images/lady-img.jpg" alt="lady-profile">
              <em>Beverly, MTN NG</em>
            </div>
          </div>
          <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    
      </section>

        <!-- Press -->

    <section id="press">
        <img class="press-image" src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/main/app/web_flask/templates/images/TechCrunch.png" alt="tc-logo">
        <img class="press-image" src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/main/app/web_flask/templates/images/tnw.png" alt="tnw-logo">
        <img class="press-image" src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/main/app/web_flask/templates/images/bizinsider.png" alt="biz-insider-logo">
        <img class="press-image" src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/main/app/web_flask/templates/images/mashable.png" alt="mashable-logo">
    </section>
      <!-- Pricing -->

  <section id="pricing">
    <h2>A Plan for Every Corporate Need/Size</h2>
    <p>Simple and affordable price plans for you and your business</p>
    <div class="row pricing-row">
      <div class="col-lg-4 col-md-6">
        <div class="card pricingcard">
          <div class="card-header">
            <h3>Basic Tier</h3>
          </div>
          <div class="card-body">
            <h2 class="card-title">Free</h2>
            <p>5 Employees</p>
            <p>100 Cases Per Month</p>
            <p>No App Usage</p>
            <div class="card-footer">
              <button class="btn btn-lg btn-outline-dark pricing-btn btn-block" type="button">Sign Up</button>
            </div>
            
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6">
        <div class="card pricingcard">
          <div class="card-header">
            <h3>Premium</h3>
          </div>
          <div class="card-body">
            <h2 card-title>$49 / mo</h2>
            <p>Unlimited Employees</p>
            <p>Unlimited Cases</p>
            <p>Limited App Usage</p>
            <div class="card-footer">
              <button class=" btn btn-lg btn-dark pricing-btn btn-block" type="button">Sign Up</button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card pricingcard">
          <div class="card-header">
            <h3>Platinum</h3>
          </div>
          <div class="card-body">
            <h2 card-title>$99 / mo</h2>
            <p>Pirority Support</p>
            <p>Unlimited Employees</p>
            <p>Unlimited Cases</p>
            <p>Unlimited App Usage</p>
            <div class="card-footer">
              <button class="btn btn-lg btn-dark pricing-btn btn-block" type="button">Sign Up</button>
            </div>
          </div>
        </div>
      </div>


    </div>

    </section>


    <!-- Call to Action -->

    <section id="cta" p-5 mt-3>

        <h3>Download and Install the Mobile Version of CRMify Today</h3>
        <button class="btn btn-lg btn-dark download-button mt-3" type="button"><i class="fa-brands fa-apple fa-beat"></i> Download</button>
        <button class="btn btn-lg btn-outline-light download-button mt-3" type="button"><i class="fa-brands fa-google-play fa-shake"></i> Download</button>

    </section>


    <!-- Footer -->

    <footer id="footer">
        <p class="social-brands">
        <a href="https://instagram.com/o.ni.fe.mi" target="_blank"><i class="social-icon fa-brands fa-instagram"></i></a> 
        <a href="https://fb.com/otaoroju" target="_blank"><i class="social-icon fa-brands fa-facebook"></i></a> 
        <a href="https://x.com/_onifemi_" target="_blank"><i class="social-icon fa-brands fa-twitter"></i></a> 
        <a href="https://linked.in/otaoroju" target="_blank"><i class="social-icon fa-brands fa-linkedin"></i></a> 
        </p>
        <p class="copyright">© Copyright Holberton/Alx Foundations Project</p>

    </footer>
</div>

</body>