{% extends "base.html" %}

{% block title %}
<title>Login :: CRMify</title>
{% endblock %}


{% block content %}
<body class="text-center">
<div class="container mt-5">
    <section class="text-center">
        <img src="https://raw.githubusercontent.com/otaorojuolalekan/crmify/81a3268bf3f52758b30ecf4fd4246e3e7d2a7938/app/web_flask/templates/images/crmify-without_text.png" id="logo" alt="logo">
        <br>
        <h1 id="pageSubject">User Login</h1>
        <br>
        <hr>
    </section>
    <!-- Account Creation Form -->
    <form method="POST" class="login-form">
        <div class="form-group">
            <label for="username">User Email</label>
            <input type="email" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket fa-beat"> </i><span>  Login</span></button>
        <br>
        <hr>
        <p><strong><i>Not Registered?</i></strong></p>
        <a href="{{ url_for('signup') }}" type="button" class="btn btn-secondary"><i class="fa-solid fa-user-plus">  </i><span>  Register</span></a>
    </form>
</div>
</body>


{% endblock %}

