{% extends "base.html" %}

{% block title %}
Create User :: CRMify
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h1>Create User</h1>

    <!-- User Creation Form -->
    <form method="POST" action="{{ url_for('signup') }}" class="signup-form">
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Enter Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password2" class="form-control" id="password2" name="password2">
        </div>
        <button type="submit" class="btn btn-primary">Complete Registration</button>
    </form>

    {% endif %}
</div>
{% endblock %}
